<% provide(:title, "All Websites") %>
<div class="row">
  <aside class="span4">
    <section>
    <h1>Manage Websites</h1>
    </section>
  </aside>
	<div class="span8">
  </div>
</div>
<div class="row">
  <div class="span8">
		<table class="table table-hover">
			<% @websites.each do |website| %>
			  <tr>
				  <td><%= link_to website.name %></td>
				  <td><%= link_to "Show", website %> |
					  <%= link_to "iPad", ipad_website_path(website) %> |
			      <%= link_to "Edit", edit_website_path(website) %> |
			      <%= link_to "Destroy", website, :confirm => 'Are you sure?', :method => :delete %></td>
				</tr>
			<% end %>
		</table>
		</br>
		<p>or <%= link_to "add", new_website_path %> a new website</p>
  </div>
</div>

