<% provide(:title, 'iPad Version of Website') %>
<h2>iPad Version of Website</h2>
<p>
  <strong>Name:</strong>
  <%= @website.name %>
</p>
<p>
  <strong>Note:</strong>
  <%= @website.note %>
</p>
<p>
	<strong>Events:</strong>
	<ul>
	<% @website.events.each do |event| %>
	  <li>Title: <%= event.title %></li>
	  <li>Pharmacy: <%= event.pharmacy.name %></li>
	<% end %>
	</ul>
<p>
  <%= link_to "Edit", edit_website_path(@website) %> |
  <%= link_to "Destroy", @website, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", websites_path %>
</p>
