<li>
  <span class="content"><%= pharmacy.name %></span>
  <span class="content">Owner: <%= pharmacy.owner_name %></span>
	<span class="content"><%= pharmacy.address %></span>
	<span class="content">Tel. <%= pharmacy.phone_number %></span>
	<span class="content">Fax. <%= pharmacy.fax_number %></span>
	<span class="content">E-Mail. <%= pharmacy.email %></span>
	<span class="content">Web. <%= pharmacy.website_url %></span>
  <span class="timestamp">
    BGA Number: <%= pharmacy.bga_number %>
  </span>
</li>
<% if current_user %>
   <%= link_to "edit", pharmacy, method: :edit %> | <%= link_to "delete", pharmacy, method: :delete,
                                data: { confirm: "You sure?" } %>
<% end %>
