<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table table-hover">
	<tr>
		<th><%= sortable "bga_number", "BGA Number" %></th>
		<th><%= sortable "name" %></th>
		<th><%= sortable "owner_name", "Owner" %></th>
		<th><%= sortable "city", "City" %></th>
		<th>Action</th>
	<tr>
<% for pharmacy in @pharmacies %>
  <tr>
	  <td><%= link_to pharmacy.bga_number, pharmacy_path(pharmacy) %></td>
	  <td><%= pharmacy.name %></td>
	  <td><%= pharmacy.owner_name %></td>
	  <td><%= pharmacy.city %></td>
	  <td>
		  <%= link_to "Edit", edit_pharmacy_path(pharmacy), class: "btn btn-mini" %>
		  <%= link_to 'Connect', attend_pharmacy_path(pharmacy.id), :method => :post, class: "btn btn-mini btn-success" %>    
      <%= link_to 'Disconnect', withdraw_pharmacy_path(pharmacy.id), :method => :post, class: "btn btn-mini btn-warning"%>
	    <%= link_to t('pharmacies.delete', default: "Destroy"), pharmacy_path(pharmacy), :confirm => t('pharmacies.confirm.delete', default: 'Are you sure?'), :method => :delete, class: "btn btn-mini btn-danger" %>
    </td>
		</tr>	
	<% end %>
</table>
<%= will_paginate @pharmacies %>