<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table table-hover">
	<tr>
		<th><%= sortable "bga_number", "BGA Number" %></th>
		<th><%= sortable "name" %></th>
		<th><%= sortable "owner_name", "Owner" %></th>
		<th><%= sortable "city", "City" %></th>
		<th>Action</th>
	<tr>
<% for pharmacy in @pharmacies %>
  <tr>
	  <td><%= link_to pharmacy.bga_number, pharmacy_path(pharmacy) %></td>
	  <td><%= pharmacy.name %></td>
	  <td><%= pharmacy.owner_name %></td>
	  <td><%= pharmacy.city %></td>
	  <td>
     <% if pharmacy.users == current_user.id %>
        <%= link_to 'Disconnect', withdraw_pharmacy_path(pharmacy.id), :method => :post %> |
     <% else %>
        <%= link_to 'Connect', attend_pharmacy_path(pharmacy.id), :method => :post %> |
     <% end %>
    
    <%= link_to "Edit", edit_pharmacy_path(pharmacy) %> |
	  <%= link_to "Destroy", pharmacy_path(pharmacy), :method => :delete %></td>
	</tr>	
	<% end %>
</table>
<%= will_paginate @pharmacies %>