<%= simple_form_for @emergency_group do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<table class="table table-hover">
  <tr><%= f.association :pharmacies %></tr>
  <tr>
  	<td><%= f.label :name %></td>
    <td><%= f.text_field :name %></td>
  </tr>
</table>
<%= f.submit "Save", class: "btn btn-large btn-primary" %>
<% end %>
