<% provide(:title, 'All Emergency Groups') %>
<div class="row">
  <aside class="span4">
    <section>
    <h1>Manage Emergency Groups</h1>
    </section>
  </aside>
	<div class="span8">
  </div>
</div>
<div class="row">
  <div class="span8">
		<table class="table table-hover">
			<% @emergency_groups.each do |emergency_group| %>
			  <tr>
				  <td><%= link_to emergency_group.name, emergency_group %></td>
				  <td><%= link_to "Show", emergency_group %> |
			      <%= link_to "Edit", edit_emergency_group_path(emergency_group) %> |
			      <%= link_to "Destroy", emergency_group, :confirm => 'Are you sure?', :method => :delete %></td>
				</tr>
			<% end %>
		</table>
		</br>
		<p>or <%= link_to "add", new_emergency_group_path %> a new emergency group</p>
  </div>
</div>


