<% provide(:title, 'All Emergency Groups') %>
<div class="row">
	</br>
  <div class="span8 offset2">
	  <h3c><%= t 'emergency.group.index.title' %></h3c>
		<table class="table table-hover">
		  <tr>
				<th><%=  t "emergency.group.name" %></th>
				<th>&nbsp;</th>
	    <tr>
			<% @emergency_groups.each do |emergency_group| %>
			  <tr>
				  <td><%= emergency_group.name %></td>
				  <td>
					  <%= link_to t('emergency.group.edit.button'), edit_emergency_group_path(emergency_group), class: "btn btn-mini" %>
				    <%= link_to t('emergency.group.destroy.button'), emergency_group, :confirm => t('emergency.group.confirm.delete'), :method => :delete, class: "btn btn-mini btn-danger" %>
			    </td> 
				</tr>
			<% end %>
		</table>
		</br>
		<p><%= link_to t('emergency.group.create.button'), new_emergency_group_path, :class => 'btn btn-mini btn-primary' %></p>
  </div>
</div>



