<% provide(:title, "Sign in") %>
<div class="row">
  <div class="span6 offset3">
	  <h1><%= t 'sessions.new.title', default: 'Sign in' %></h1>
    <%= form_tag sessions_path do %>

      <%= label_tag :email %>
      <%= text_field_tag :email %>

      <%= label_tag t 'session.user.password', default: 'Password' %>
      <%= password_field_tag :password %>

      <%= submit_tag t('session.new.submit', default: 'Sign in'), class: "btn btn-large btn-primary" %>
    <% end %>

    <p><%= t 'session.new.user', default: 'New user?' %> <%= link_to t('session.signup', default: 'Sign up now!'), signup_path %> <%= t 'session.forgot.password.question', default: 'or Forgot Password?' %> <%= link_to t('session.forget.password', default: 'Get it here.'), signup_path %></p> 
  </div>
</div>