<% provide(:title, "Sign in") %>
<div class="row">
  <div class="span6 offset3">
	  <h2c><%= t 'sessions.new.title', default: 'Sign in' %></h2c>
	  
    <%= form_tag sessions_path do %>
    </br>
      <%= label_tag :email %>
      <%= text_field_tag :email %>

      <%= label_tag t 'session.user.password', default: 'Password' %>
      <%= password_field_tag :password %>
            <% if request.subdomain.present? %>
              <%= submit_tag t('session.new.submit', default: 'Sign in'), class: "btn btn-mini btn-primary" %>
            <% else %>
              <%= link_to t('session.new.submit', default: 'Sign in'),  "#myModal", :data => {:toggle=>"modal"}, class: "btn btn-mini btn-primary" %>
            <% end %>
      <%= link_to t('session.signup', default: 'Sign up now!'), signup_path, class: 'btn btn-mini' %>
      <%= link_to 'Forgotten Password', new_password_reset_path, class: 'btn btn-mini' %>
    <% end %>
  </div>
</div>