<% provide(:title, 'All Emergency Groups') %>
<div class="row">
	</br>
  <div class="span8 offset2">
	  <h3c><%= t 'emergency.group.index.title', default: 'Manage Emergency Groups' %></h3c>
		<table class="table table-hover">
		  <tr>
				<th><%=  t "emergency.group.name", default: "Name" %></th>
				<th>&nbsp;</th>
	    <tr>
			<% @emergency_groups.each do |emergency_group| %>
			  <tr>
				  <td><%= emergency_group.name %></td>
				  <td>
					  <%= link_to t('pharmacies.edit', default: "Edit"), edit_emergency_group_path(emergency_group), class: "btn btn-mini" %>
				    <%= link_to t('pharmacies.delete', default: "Destroy"), emergency_group, :confirm => t('pharmacies.confirm.delete', default: 'Are you sure?'), :method => :delete, class: "btn btn-mini btn-danger" %>
			    </td> 
				</tr>
			<% end %>
		</table>
		</br>
		<p><%= t 'emergency.group.add.text', default: 'Add a new emergency group ' %><%= link_to t('pharmacies.add.link', default: "here"), new_emergency_group_path %>.</p>
  </div>
</div>



