<%= render 'shared/error_messages', object: f.object %>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :password_confirmation do %>
  <%= t "confirm.password", default: "Confirm Password" %>
<% end %>
<%= f.password_field :password_confirmation %>

<div class="field">
  <%= f.label :pharmacy_tokens, "Pharmacies (separated by commas)" %><br />
  <%= f.text_field :pharmacy_tokens, data: {load: @user.pharmacies} %>
</div>
<br />