<% provide(:title, "Edit user") %> 
<h1><%= t "update_your_profile", default: "Update your profile" %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation do %>
        <%= t "confirm_password", default: "Confirm Password" %>
      <% end %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit class: "btn btn-large btn-primary" do %>
			  <%= t "save_changes" %>
      <% end %>
    <% end %>

    <%= gravatar_for @user %>
    <%= link_to "http://gravatar.com/emails", :target => "_blank" do %>
		  <%= t "change_link", default: "change" %>
    <% end %>
  </div>
</div>