<%= simple_form_for(@pharmacy, :html => {:class => 'form-horizontal' }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

<table class="table table-hover">
  <tr><%= f.association :emergency_group %></tr>
  <tr> 
	  <td><%= f.label :name %></td>
	  <td><%= f.text_field :name %></td>
	</tr>
	<tr> 
	  <td><%= f.label :owner_name %></td>
	  <td><%= f.text_field :owner_name %></td>
	</tr>
	<tr> 
		<td><%= f.label :bga_number %></td>
	  <td><%= f.text_field :bga_number %></td>	
	</tr>
	<tr> 
		<td><%= f.label :address %></td>
	  <td><%= f.text_area :address %></td>
	</tr>
	<tr> 
		<td><%= f.label :phone_number %></td>
	  <td><%= f.text_field :phone_number %></td>	
	</tr>
	<tr> 
		<td><%= f.label :fax_number %></td>
	  <td><%= f.text_field :fax_number %></td>	
  </tr>
  <tr> 
		<td><%= f.label :email %></td>
	  <td><%= f.text_field :email %></td>	
  </tr>
  <tr> 
		<td><%= f.label :website_url %></td>
	  <td><%= f.text_field :website_url %></td>	
  </tr>
  <tr> 
		<td><%= f.label :start_hours %></td>
	  <td><%= f.text_field :start_hours %></td>	
  </tr>
  <tr> 
		<td><%= f.label :end_hours %></td>
	  <td><%= f.text_field :end_hours %></td>	
	</tr>
</table>
<%= f.submit "Save", class: "btn btn-large btn-primary" %>
<% end %>

