<div class="mc"></div>
<div class="white_container">
  <center>
	    <h1b><strong><%= event.pharmacy.emergency_group.website_title %></strong></h1b>
	</center>
</div>
<div class="mb"></div>
<div class="white_container_middle">
	<center>
		<h2b><%= event.pharmacy.name %></h2b>
	</center><br>
	<center>
		<h3b>Von <%= l(event.starttime, :format => '%A, %d.%B %Y') %> <%= event.pharmacy.emergency_hour_change_time.strftime('%H:%M') %> Uhr<br>
         bis <%= l(event.endtime, :format => '%A, %d.%B %Y') %> <%= event.pharmacy.emergency_hour_change_time.strftime('%H:%M') %> Uhr</h3b>
  </center>
  <center>
	  <h3b><%= event.pharmacy.address %><br>
         <%= event.pharmacy.zipcode %> <%= event.pharmacy.city %><br>
         <strong>Tel. <%= event.pharmacy.phone_number %></strong></h3b>
  </center>
</div>	
<div class="mb"></div>
<div class="white_container">
  <center>
	  <h4b><%= event.pharmacy.emergency_group.website_note %></h4b>
	</center>
</div>