<%= simple_form_for @event do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<table class="table table-hover">
  <col width="110"/>
  <% if Event::EVENT_TYPES == 'Notdienst' %>
  <tr>
	  <% disabled_options = ['Kundeninfos', 'Werbung'] %>
  	<td><%= f.label t 'event.type' %></td>
		<td><%= f.select(:event_type, Event::EVENT_TYPES, :include_blank => t('event.type-select'), :required => true, :disabled => disabled_options) %></td>
  </tr>
  <% elsif Event::EVENT_TYPES == 'Kundeninfos' %>
  <tr>
	  <% disabled_options = ['Notdienst', 'Werbung'] %>
  	<td><%= f.label t 'event.type' %></td>
		<td><%= f.select(:event_type, Event::EVENT_TYPES, :include_blank => t('event.type-select'), :required => true, :disabled => disabled_options) %></td>
  </tr>
  <% elsif Event::EVENT_TYPES == 'Werbung' %>
  <tr>
	  <% disabled_options = ['Notdienst', 'Kundeninfos'] %>
  	<td><%= f.label t 'event.type' %></td>
		<td><%= f.select(:event_type, Event::EVENT_TYPES, :include_blank => t('event.type-select'), :required => true, :disabled => disabled_options) %></td>
  </tr>
  <% else %>
  <tr>
  	<td><%= f.label t 'event.type' %></td>
		<td><%= f.select(:event_type, Event::EVENT_TYPES, :include_blank => t('event.type-select'), :required => true ) %></td>
  </tr>
  <% end %>
  <tr class="tr-pharmacy">
    <td><%= f.label t 'event.pharmacy' %></td>
    <td><%= f.collection_select :pharmacy_id, Pharmacy.all, :id, :name, :include_blank => t('event.group.pharmacy.select') %></td>
  </tr>
  <tr class="tr-info">
    <td><%= f.label t 'event.info' %></td>
    <td><%= f.collection_select :info_id, Info.all, :id, :title, :include_blank => t('event.info-select') %></td>
  </tr>
  <tr class="tr-ad">
    <td><%= f.label t 'event.ad' %></td>
    <td><%= f.collection_select :ad_id, Ad.all, :id, :title, :include_blank => t('event.ad-select') %></td>
  </tr>
  <tr>
  	<td><%= f.label t 'event.color' %></td>
    <td><%= f.select(:color, Event::COLORS) %></td>
  </tr>
  <tr>
  	<td><%= f.label t 'event.starttime' %></td>
        <td><%= f.datetime_picker :starttime, :value => l(@event.starttime || Time.zone.now, :format => :input) %></td>
  </tr>
  <tr>
  	<td><%= f.label t 'event.endtime' %></td>
        <td><%= f.datetime_picker :endtime, :value => l(@event.endtime || Time.zone.now, :format => :input)  %></td>
  </tr>
</table>
<%= link_to t('pharmacies.back.button'), events_path, :class => 'btn btn-mini' %>
<%= link_to t('pharmacies.show.button'), @event, :class => 'btn btn-mini' %>
<%= f.submit t('pharmacies.save.button'), class: "btn btn-mini btn-primary" %>
<% end %>
