<%= simple_form_for @event do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<table class="table table-hover">
    <tr>
    <td><%= f.label t 'event.pharmacy' %></td>
    <td><%= f.collection_select :pharmacy_id, Pharmacy.all, :id, :name, :include_blank => t('event.group.pharmacy.select'), :required => true %></td>
  </tr>
  <tr>
  	<td><%= f.label t 'event.color' %></td>
    <td><%= f.select(:color, Event::COLORS) %></td>
  </tr>
  <tr>
  	<td><%= f.label t 'event.starttime' %></td>
        <td><%= f.datetime_picker :starttime, :value => l(@event.starttime || Time.now, :format => :input) %></td>
  </tr>
  <tr>
  	<td><%= f.label t 'event.endtime' %></td>
        <td><%= f.datetime_picker :endtime, :value => l(@event.endtime || Time.now, :format => :input)  %></td>
  </tr>
  <tr>
  	<td><%= f.label t 'event.allday' %></td>
    <td><%= f.check_box :all_day %></td>
  </tr>
</table>
<%= link_to t('pharmacies.back.button'), events_path, :class => 'btn btn-mini' %>
<%= link_to t('pharmacies.show.button'), @event, :class => 'btn btn-mini' %>
<%= f.submit t('pharmacies.save.button'), class: "btn btn-mini btn-primary" %>
<% end %>
