<%= simple_form_for @event do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<table class="table table-hover">
  <col width="110"/>
  <% if @event.event_type == 'Notdienst' %>
  <tr>
	  <% disabled_options = ['Kundeninfos', 'Werbung'] %>
  	<td><%= f.label t 'event.type' %></td>
		<td><%= f.select(:event_type, Event::EVENT_TYPES, :include_blank => t('event.type-select'), :required => true, :disabled => disabled_options) %></td>
  </tr>
  <% elsif @event.event_type == 'Kundeninfos' %>
  <tr>
	  <% disabled_options = ['Notdienst', 'Werbung'] %>
  	<td><%= f.label t 'event.type' %></td>
		<td><%= f.select(:event_type, Event::EVENT_TYPES, :include_blank => t('event.type-select'), :required => true, :disabled => disabled_options) %></td>
  </tr>
  <% else %>
  <tr>
	  <% disabled_options = ['Werbung'] %>
  	<td><%= f.label t 'event.type' %></td>
		<td><%= f.select(:event_type, Event::EVENT_TYPES, :include_blank => t('event.type-select'), :required => true, :disabled => disabled_options) %></td>
  </tr>
  <% end %>
  <tr class="tr-pharmacy">
    <td><%= f.label t 'event.pharmacy' %></td>
    <td><%= f.collection_select :pharmacy_id, Pharmacy.all, :id, :name, :include_blank => t('event.group.pharmacy.select') %></td>
  </tr>
  <tr class="tr-info">
    <td><%= f.label t 'event.info' %></td>
    <td><%= f.collection_select :info_id, Info.all, :id, :title, :include_blank => t('event.info-select') %></td>
  </tr>
  <tr>
  	<td><%= f.label t 'event.color' %></td>
    <td><%= f.select(:color, Event::COLORS) %></td>
  </tr>
  <tr>
  	<td><%= f.label t 'event.starttime' %></td>
        <td><%= f.datetime_picker :starttime, :value => l(@event.starttime || Time.now, :format => :input) %></td>
  </tr>
  <tr>
  	<td><%= f.label t 'event.endtime' %></td>
        <td><%= f.datetime_picker :endtime, :value => l(@event.endtime || Time.now, :format => :input)  %></td>
  </tr>
  <tr>
  	<td><%= f.label t 'event.allday' %></td>
    <td><%= f.check_box :all_day %></td>
  </tr>
  <tr>
  	<td><%= f.label t 'event.recurring' %></td>
    <td><%= f.check_box :recurring %></td>
  </tr>
  <tr class="tr-recurring">
  	<td><%= f.label t 'event.recurring_interval' %></td>
        <td><%= f.select(:recurring_interval, Event::INTERVALS.map{|i| [t("event.#{i}"), i] }) %></td>
  </tr>
  <tr class="tr-recurring">
  	<td><%= f.label t 'event.recurring_period' %></td>
    <td><%= f.select(:recurring_period, Event::PERIODS) %></td>
  </tr>
  <tr class="tr-recurring">
  	<td><%= f.label t 'event.recurring_endtime' %></td>
        <td>
          <%= f.datetime_picker :recurring_endtime, :value => @event.recurring_endtime ? l(@event.recurring_endtime, :format => :input) : '' %>
          <span class="help-inline"><%= t 'event.recurring_endtime_hint' %></span>
        </td>
  </tr>
</table>
<%= link_to t('pharmacies.back.button'), events_path, :class => 'btn btn-mini' %>
<%= link_to t('pharmacies.show.button'), @event, :class => 'btn btn-mini' %>
<%= f.submit t('pharmacies.save.button'), class: "btn btn-mini btn-primary" %>
<% end %>
