<% provide(:title, 'All Events') %>

<p><%= link_to t("event.new"), new_event_path, :class => 'btn btn-mini btn-primary' %>
</p>
<div id="events">
  <h2 id="month">
    <%= link_to "<", events_path(date: @date.prev_month), :class => 'btn btn-mini' %>
    <%= l(@date, :format => "%B %Y") %>
    <%= link_to ">", events_path(date: @date.next_month), :class => 'btn btn-mini' %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @events_by_date[date] %>
        <% @events_by_date[date].uniq.each do |event| %>
            <% if event.pharmacy != nil %>
              <% if btn_class = bs_button_for_color(event.color) %>
                <center><%= link_to event.pharmacy.name, edit_event_path(event), :class => "btn btn-mini #{btn_class}" %></center>
              <% else %>
                <ul>
                <li><%= link_to event.pharmacy.name, edit_event_path(event) %></li>
                </ul>
              <% end %>
            <% end %>
        <% end %>
    <% end %>
    <br />
		<% if @events_by_date[date] %>
        <% @events_by_date[date].uniq.each do |event| %>
            <% if event.info != nil %>
              <% if btn_class = bs_button_for_color(event.color) %>
                <center><%= link_to event.info.title, edit_event_path(event), :class => "btn btn-mini #{btn_class}" %></center>
              <% else %>
                <ul>
                <li><%= link_to event.info.title, edit_event_path(event) %></li>
                </ul>
              <% end %>
            <% end %>
        <% end %>
    <% end %>
		<br />
		<% if @events_by_date[date] %>
        <% @events_by_date[date].uniq.each do |event| %>
            <% if event.ad != nil %>
              <% if btn_class = bs_button_for_color(event.color) %>
                <center><%= link_to event.ad.title, edit_event_path(event), :class => "btn btn-mini #{btn_class}" %></center>
              <% else %>
                <ul>
                <li><%= link_to event.ad.title, edit_event_path(event) %></li>
                </ul>
              <% end %>
            <% end %>
        <% end %>
    <% end %>
  <% end %>	
</div>
