<% provide(:title, 'All Events') %>

<p><%= link_to "New Event", new_event_path, :class => 'btn btn-mini btn-primary' %>
</p>
<div id="events">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month, :class => 'btn btn-mini' %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month, :class => 'btn btn-mini' %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @events_by_date[date] %>
        <% @events_by_date[date].each do |event| %>
          <% if event.pharmacy != nil %>
          </br>
          <center><%= link_to event.pharmacy.name, event, :class => 'btn btn-mini btn-primary' %></center>
          <% end %>
        <% end %>
    <% end %>
  <% end %>	
</div>