<footer class="footer">
  <small>
	  <%= t "a.product.by" %>
    <a href="http://signaleast.com/">Signal East</a>
  </small>
  <nav>
    <ul>
      <li>
        <%= link_to contact_path do %>
	        <%= t "about.link" %>
	      <% end %>
	    </li>
      <li>
        <%= link_to contact_path do %>
          <%= t "contact.link" %>
        <% end %>
      </li>
      <li>
	      <%= link_to "https://www.facebook.com/pages/Signal-East/438692912836281?ref=ts" do %>
	        <%= t "news.link" %>
	      <% end %>
	    </li>
    </ul>
  </nav>
</footer>