<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <nav>
				<ul class="nav pull-left">
					<li class="<%= 'active' if current_page?(welcome_path) || 
					                           current_page?(dashboard_path) || 
					                           current_page?(referrals_path) %>">
					<%= link_to welcome_path do %>
					  <i class="icon-home icon-white"></i>
					<% end %>
					</li>				

					<li class="<%= 'active' if current_page?(root_path) ||
					                           current_page?(events_path) %>">
					<% if signed_in? %><%= link_to t('planner.link', default: "Planner"), events_path %><% end %>
					</li>

					<li class="<%= 'active' if current_page?(manage_path) || 
					                           current_page?(pharmacies_path) || 
					                           current_page?(emergency_groups_path) ||
					                           current_page?(customer_service_path) %>">
					<% if signed_in? %><%= link_to t('manage.link', default: "Manage"), pharmacies_path %><% end %>
					</li>
        </ul>
        <ul class="nav pull-right">
	        <li>
	          <% if mobile_device? %>
              <%= link_to "Desktop", :mobile => 0, class: "btn btn-mini" %>
            <% else %>
              <%= link_to "Mobile", :mobile => 1, class: "btn btn-mini" %>
            <% end %>
		      </li>
          <li>
          <%= link_to help_path do %>
            <%= t "help.link", default: "Help" %>
          <% end %>
          </li>
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <%= link_to "#", :class => "dropdown-toggle", :data => {:toggle=>"dropdown"}  do %>
							                <i class="icon-user icon-white"></i> <b class="caret"></b>
							              <% end %>
              <ul class="dropdown-menu">
	              <div class="user-information">
		              <strong><%= current_user.name %></strong><br />
		              <span><%= current_account.name %></span>
		            </div>
                <li><%= link_to "Profile", edit_user_path(current_user) %></li>
                <li>
                  <%= link_to accounts_path do %>
                    <%= t "settings.link", default: "Settings" %>
                  <% end %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to signout_path, method: "delete" do %>
                    <%= t "signout.link", default: "Sign out" %>
                  <% end %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	            <% if I18n.locale == :en %>
	              <%= image_tag('us.png') + "  English" %><b class="caret"></b>
	            <% elsif I18n.locale == :de %>
	               <%= image_tag('de.png') + "  Deutsch" %><b class="caret"></b>
	            <% else %>
                 Language <b class="caret"></b>
              <% end %>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to image_tag('us.png') + "  English", locale: "en" %></li>
              <li><%= link_to image_tag('de.png') + "  Deutsch", locale: "de" %></li>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>