<% if signed_in? %>
<div class="container">
  <nav>
    <ul class="nav nav-tabs">
	    <% if request.path == welcome_path || request.path == root_path || request.path == dashboard_path || request.path == referrals_path %>
        <li class="<%= 'active' if current_page?(welcome_path) || current_page?(root_path) %>"><%= link_to "Welcome", welcome_path %></li>
        <li class="<%= 'active' if current_page?(dashboard_path) %>"><%= link_to "Dashboard", dashboard_path %></li>
        <li class="<%= 'active' if current_page?(referrals_path) %>"><%= link_to "Referrals", referrals_path %></li>
      <% elsif request.path == manage_path || 
								request.path == pharmacies_path || 
								request.path == emergency_groups_path || 
								request.path == websites_path ||
								request.path == customer_service_path %>
				<li class="<%= 'active' if current_page?(pharmacies_path) %>"><%= link_to "Pharmacies", pharmacies_path %></li>
				<li class="<%= 'active' if current_page?(emergency_groups_path) %>"><%= link_to "Emergency Groups", emergency_groups_path %></li>
				<li class="<%= 'active' if current_page?(websites_path) %>"><%= link_to "Websites", websites_path %></li>
				<li class="<%= 'active' if current_page?(customer_service_path) %>"><%= link_to "Customer service feed", customer_service_path %></li>
      <% else %>
        <%# //.. %>
      <% end %>
    </ul>
  </nav>
</div>
<% end %>