<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/subnav' %>
    <div class="container">
			<% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		      <h3 id="myModalLabel"><%= t 'modal.title' %></h3>
		    </div>
		    <div class="modal-body">
		      <p><%= t 'modal.body' %></p>
		      <p><strong>https://COMPANYNAME.notdienstapp.com</strong></p>
		      <p><%= link_to t('modal.link'), contact_path %></p>
		    </div>
		  </div>
    </div>
  </body>
</html>