<!DOCTYPE html>
<html manifest="/application.manifest">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<%= favicon_link_tag 'apple-icon.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <% if "#{request.fullpath}" == "/de/events?mobile=1" || "#{request.fullpath}" == "/en/events?mobile=1" || "#{request.fullpath}" == "/de/events" || "#{request.fullpath}" == "/en/events"  %>
        <style>
          html { background: transparent }
          body { background: #E81212; }
        </style>
    <% end %>
    <%= analytics_init if Rails.env.production? %>
  </head>
  <!--#if expr="(${Mozilla/5.0 (iPad; CPU OS 6_0 like Mac OS X) AppleWebKit/536.26 (KHTML, like Gecko) Version/6.0 Mobile/10A5355d Safari/8536.25} = /iPad/)"-->
    <style type="text/css">
       body {padding-top: 20px}
    </style>
  <!-- #else -->
    <style type="text/css">
      body {padding-top: 10px}
    </style>
  <!-- #endif -->
		 <% if request.path == signup_path %>
			 <%= render 'layouts/signin_header' %>
		 <% elsif !request.subdomain.present? && request.path == root_path %>
		   <%= render 'layouts/signin_header' %>
		 <% elsif request.subdomain == 'www' && request.path == root_path %>
		   <%= render 'layouts/signin_header' %>
		 <% elsif request.subdomain == 'www' && request.path == signup_path %>
			  <%= render 'layouts/signin_header' %>
		 <% else %>
		   <%= render 'layouts/header' %>
		 <% end %>
    <div class="container">
			<% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>