<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>   
    <%= analytics_init if Rails.env.production? %> 
  </head>
  <body>
	<% if request.subdomain.present? && request.path != signup_path %>
    <%= render 'layouts/header' %>
    <%= render 'layouts/subnav' %>
  <% else %>
    <%= render 'layouts/signin_header' %>
  <% end %>
    <div class="content">
    <div class="container">
			<% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
		<% if request.path != root_path %>
      <%= render 'layouts/footer' %>
	  <% end %>
    </div>
    </div>
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		      <h3 id="myModalLabel"><%= t 'modal.title' %></h3>
		    </div>
		    <div class="modal-body">
		      <p><%= t 'modal.body' %></p>
		      <p><strong>https://COMPANYNAME.notdienstapp.com</strong></p>
		      <p><%= link_to t('modal.link'), contact_path %></p>
		    </div>
		  </div>
    </div>
    <% if !request.subdomain.present? %>
		<!-- ClickDesk - <a href='http://www.clickdesk.com'> Live Chat Service </a> for websites -->
		<script type='text/javascript'>
			var _glc =_glc || []; _glc.push('all_ag9jb250YWN0dXN3aWRnZXRyDgsSBXVzZXJzGLWSqgYM');
			var glcpath = (('https:' == document.location.protocol) ? 'https://my.clickdesk.com/livily/browser/' : 
			'http://gae.clickdesk.com/livily/browser/');
			var glcp = (('https:' == document.location.protocol) ? 'https://' : 'http://');
			var glcspt = document.createElement('script'); glcspt.type = 'text/javascript'; 
			glcspt.async = true; glcspt.src = glcpath + 'livechat.js';
			var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(glcspt, s);
		</script>
		<!-- End of ClickDesk -->
		<% end %>
  </body>
</html>