  <%= render 'shared/error_messages', :object => f.object %>
  </br>
	<%= f.label t "account.name" %>
	<%= f.text_field :name %>
	<%= f.label t "account.subdomain" %>
	<span class="notdienst-sub">.notdienstapp.com</span>
	<%= f.text_field :subdomain, :class => "account-url" %>

  <%= f.fields_for :users do |user_form| %>
    <%= user_form.label t "user.name" %>
    <%= user_form.text_field :name %>
    <%= user_form.label "E-Mail" %>
    <%= user_form.email_field :email %>
    <%= user_form.label t "user.password" %>
    <%= user_form.password_field :password %>
    <%= user_form.label t "user.confirmation" %>
    <%= user_form.password_field :password_confirmation %>
  <% end %>
</br>