<%= render 'shared/error_messages', :object => f.object %>
</br>
<div class="signup-form-field">
  <%= f.label t "account.name" %>
<%= f.text_field :name %>
</div>
<div class="signup-form-field">
 <%= f.label t "account.subdomain" %>
 <%= f.text_field :subdomain, :placeholder => "muster-apotheke" %>
</div>

<%= f.fields_for :users do |user_form| %>
	<div class="signup-form-field">
	  <%= user_form.label t "user.name" %>
	  <%= user_form.text_field :name %>
	</div>
	<div class="signup-form-field">
	  <%= user_form.label t "user.last_name" %>
	  <%= user_form.text_field :last_name %>
	</div>
	<div class="signup-form-field">
	  <%= user_form.label "E-Mail" %>
	  <%= user_form.email_field :email %>
	</div>
	<div class="signup-form-field">
	  <%= user_form.label t "user.password" %>
	  <%= user_form.password_field :password %>
	</div>
	<div class="signup-form-field">
	  <%= user_form.label t "user.confirmation" %>
	  <%= user_form.password_field :password_confirmation %>
	</div>
<% end %>
<div class="signup-form-submit signup-form-field">
  <%= f.submit t("account.submit"), class: "btn btn-success" %>
</div>
