<% provide(:title, 'Edit Event') %>
<div class="row">
  <div class="span4 offset3">
	  <h3c><%= t 'account.edit.title' %></h3c>
    <%= form_for(@account) do |f| %>
      <%= render 'edit_fields', f: f %>
      <%= f.submit t('account.update.button'), class: "btn btn-mini btn-primary" %>
      <%= link_to t('account.change.password.button'), new_password_reset_path, class: 'btn btn-mini' %>
    <% end %>
  </div>
</div>

