<% provide(:title, 'Account Settings') %>
<div class="row">
  <aside class="span5 offset3">
    <section>
    <h1><%= t 'account.index.title' %></h1>
    </section>
  </aside>
</div>
<div class="row">
  <div class="span5 offset3">
	<%= form_for @account do |a| %>
		<table class="table table-hover">
			  <tr><h4>Billing Information</h4></tr>
			  <tr>
				  <td>Secure Site</td>
				  <td><%= link_to @account.subdomain + ".notdienstapp.com" %></td>
				</tr>
			  <tr>
				  <td>Member Since</td>
				  <td><%= l(@account.created_at, :format => '%A, %d.%B %Y') %></td>
				</tr>
				<tr>
				  <td>Receipts</td>
				  <td><%= link_to "22 Mar 2012, (Notdienst Basic Plan: 1 user, EUR 15,00"%></td>
				</tr>
				<tr>
				  <td>Subscription Plan</td>
				    <td>
				      <%= radio_button_tag(:plan_type, Account::PLAN_TYPES, :checked => (Account::PLAN_TYPES == 'Solo')? true:false) %>&nbsp;Solo
							<%= radio_button_tag(:plan_type, Account::PLAN_TYPES, :checked => (Account::PLAN_TYPES == 'Basic')? true:false) %>&nbsp;Basic
							<%= radio_button_tag(:plan_type, Account::PLAN_TYPES, :checked => (Account::PLAN_TYPES == 'Business')? true:false) %>&nbsp;Business				
					  </td>
				</tr>
		</table>
		<%= a.submit "Save", :class => 'btn btn-mini btn-success' %>&nbsp;
		<%= link_to 'Upgrade', "",:class => 'btn btn-mini btn-success' %>&nbsp;
		<%= link_to 'Change Secure Site', "", :class => 'btn btn-mini' %>&nbsp;
		<%= link_to 'Close Account', "", :method => :delete, :class => 'btn btn-mini' %>
		<% end %>
		</br>
		</br>
		</br>
		<table class="table table-hover">
			  <tr><h4>Preferences</h4></tr>
			  <tr>
				  <td>Company Name</td>
				  <td><%= @account.name %></td>
				</tr>
			  <tr>
				  <td>Timezone</td>
				  <td><%= link_to "Berlin (GMT+1)" %></td>
				</tr>
			  <tr>
				  <td>Date Format</td>
				  <td>25/04/2012</td>
				</tr>
			  <tr>
				  <td>Time Format</td>
				  <td>24-hour clock</td>
				</tr>
				<tr>
				  <td>Time Display</td>
				  <td>HH:MM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
				</tr>
		</table>
		<%= link_to 'Edit Preferences', "",:class => 'btn btn-mini btn-success' %>	
  </div>
</div>


