<% provide(:title, 'Account Settings') %>
<div class="row">
  <aside class="span5 offset3">
    <section>
    <h1><%= t 'account.index.title' %></h1>
    </section>
  </aside>
</div>
<div class="row">
  <div class="span5 offset3">
		<table class="table table-hover">
			  <tr><h4>Rechnung Information</h4></tr>
			  <tr>
				  <td>Webadresse</td>
				  <td><%= link_to @account.subdomain + ".notdienstapp.com" %></td>
				</tr>
			  <tr>
				  <td>Member Zeit</td>
				  <td><%= l(@account.created_at, :format => '%A, %d.%B %Y') %></td>
				</tr>
			  <tr>
				  <td>Software Paket</td>
				  <td><strong>Solo Paket</strong></td>
				</tr>
		</table>
		<%= link_to 'Upgrade', "",:class => 'btn btn-mini btn-success' %>&nbsp;
		<%= link_to 'Change Secure Site', "", :class => 'btn btn-mini' %>&nbsp;
		<%= link_to 'Close Account', "", :method => :delete, :class => 'btn btn-mini' %>
		</br>
		</br>
		</br>
		<table class="table table-hover">
			  <tr><h4>Preferences</h4></tr>
			  <tr>
				  <td>Firma</td>
				  <td><%= @account.name %></td>
				</tr>
			  <tr>
				  <td>Zeitzone</td>
				  <td><%= link_to "Berlin (GMT+1)" %></td>
				</tr>
			  <tr>
				  <td>Datenformat</td>
				  <td>25/04/2012</td>
				</tr>
			  <tr>
				  <td>Zeitformat</td>
				  <td>24-hour clock</td>
				</tr>
		</table>
		<%= link_to 'Einstellung bearbeiten', "",:class => 'btn btn-mini btn-success' %>	
  </div>
</div>


