<% provide(:title, 'Create Account') %>
<div class="row">
	<div id="signup_form" class="clearfix">
	  <div class="span5 offset3">
		  <br />
		  <br />
		  <h2c><%= t "new.account.headline" %>
				<span class="subhead">
				  <%= t "new.account.subline" %>
				  </span>
			</h2c>
	    <%= form_for @account, :validate => true do |f| %>
	      <%= render 'fields', f: f %>
	      <div class="signup-form-submit signup-form-field">
				  <%= f.submit t("account.submit"), class: "btn btn-success" %>
				</div>
	    <% end %>
	  </div>
	  <div class="span2half last">
      <div class="rounded-gray signup-reasons">
        <h3c><%= t "new.account.5reasons-title1" %><br><%= t "new.account.5reasons-title2" %></h3c>
        <ol>
          <li><%= t "new.account.5reasons-reason1" %></li>
          <li><%= t "new.account.5reasons-reason2" %></li>
          <li><%= t "new.account.5reasons-reason3" %></li>
          <li><%= t "new.account.5reasons-reason4" %></li>
          <li><%= t "new.account.5reasons-reason5" %></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="row">
<div class="span7 offset3">
<div class="signup-final">
	   <%= t "new.account.signup-final" %>
    <%= link_to t("new.account.terms"), terms_path %> <%= t "new.account.and" %>
    <%= link_to t("new.account.privacy"), terms_path %>.
</div>
</div>
</div>